@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/* Show it is fixed to the top */
main {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* buttons */
.btn-voll  {
    color:  #fff !important;
    background-color:  #ed6f03 !important;
    border-color:  #ed6f03 !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
 }
.btn-voll:hover  {
    color:  #fff !important;
    background-color:  #c75d03 !important;
    border-color:  #bb5702 !important;
 }
.btn-voll:focus,  .btn-voll.focus  {
    box-shadow:  0 0 0 3px rgba(237,  111,  3,  0.5) !important;
 }
.btn-voll.disabled,  .btn-voll:disabled  {
    background-color:  #ed6f03 !important;
    border-color:  #ed6f03 !important;
 }
.btn-voll:active,  .btn-voll.active, .show > .btn-voll.dropdown-toggle  {
    background-color:  #c75d03 !important;
    background-image:  none !important;
    border-color:  #bb5702 !important;
 }


.comment {
  font-size: 80% !important;
}

.background-01 {
  background-color: #e58506 !important;
}

.background-02 {
  background-color: #424242 !important;
}

.color-01, a.color-01:hover {
  color: #000;
}

.color-02, a.color-02:hover {
  color: #fff;
}

.font-w-600 {
  font-weight: 600 !important;
}

.font-w-300 {
  font-weight: 300 !important;
}

.table .thead-dark th {
  color: #fff;
  background-color: #424242;
  border: 0;
}

.footer--page {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo_footer {
  margin: 0;
  padding: 0;
  width: auto;
}

.logo--bottom {
  width: 96px !important;
}

.font-raleway {
  font-family: 'Raleway', sans-serif !important;
}

.font-lato {
  font-family: 'Lato', sans-serif !important;
}